body{
    background-image: url(../img/pozadi.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;}
html {
    font-family: 'Oswald', sans-serif ;
}

.mezera{
    height: 5px;
}

.contact-box {
    max-width: 850px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.733);
    box-shadow: 0px 0px 19px 5px rgba(0, 0, 0, 0.19);
}
.left {
    background: url("../img/cockteau.jpg") no-repeat center;
    position: static;
    background-size: cover;
    height: 100%;
}
.right {
    padding: 25px 40px;
}
.container-form {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px 100px;
}
.field {
    width: 100%;
    border: 2px solid rgba(0, 0, 0, 0);
    outline: none;
    background-color: rgba(230, 230, 230, 0.6);
    padding: 0.5rem 1rem;
    font-size: 1.1rem;
    margin-bottom: 22px;
    transition: .3s;
}

.field:hover {
    background-color: rgba(66, 0, 0, 0.5);
}
.container {
    margin: auto;
    width: 85%;
    border: 5px solid black;
    padding: 10px;
    background-color:rgba(0, 0, 0, 0.65);
    color: aliceblue;
}
table, th, td{
    border: 2px solid;
    padding: 5px;
}
